
<form class="ui form">
  <div class="field">
    <label>이름</label>
    <input type="text" name="last-name" placeholder="이름을 입력하세요">
  </div>
  <div class="inline fields">
    <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="frequency" checked="checked">
          <label>남성</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="frequency">
          <label>여성</label>
        </div>
      </div>
  </div>
  <div class="field">
    <label>직업</label>
    <select class="ui search dropdown">
      <option value="">직업을 선택하세요</option>
      <option value="AF">회사원</option>
      <option value="AX">학생</option>
      <option value="AL">교사</option>
      <option value="DZ">공무원</option>
      <option value="AS">주부</option>
      <option value="AS">자영업</option>
      <option value="AS">사업가</option>
      <option value="AD">무직</option>
    </select>
  </div>
  <div class="field">
    <label>제목</label>
    <input type="text" name="first-name" placeholder="제목을 입력하세요">
  </div>
  <div class="field">
    <label>내용</label>
    <textarea></textarea>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
