


<div class="ui fluid action input">
  <input type="text" placeholder="Search..." id="title" value="{{title}}">
  <div class="ui button" id="searchBtn">Search</div>
</div>


<table class="ui striped table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Occupation</th>
    </tr>
  </thead>
  <tbody>
    {{#each hapiboards}}
    <tr>
      <td>{{title}}</td>
      <td>{{name}}</td>
      <td>{{gender}}</td>
      <td>{{occupation}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
  $('#searchBtn').click(function(){
    var param = {
      title: $('#title').val()
    };
    location.href = '/list/'+encodeURIComponent(JSON.stringify(param));
  });
</script>
