<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="lib/semantic.min.css">
  <script src="lib/semantic.min.js" charset="utf-8"></script>
  <script src="lib/jquery-2.2.2.min.js" charset="utf-8"></script>

</head>
<body>

  <div class="ui main text container">
    <h1 class="ui header">Sticky Example</h1>
    <p>This example shows how to use lazy loaded images, a sticky menu, and a simple text container</p>
  </div>

  <div class="container">
    {{{content}}}
  </div>
</body>
</html>
